.service-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.service-technique {
  flex: 1;
  width: 100%;
  padding: 20px;
  text-align: center;
}

.main-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.main-content h1 {
  font-size: 2rem;
  color: #000000;
  margin-bottom: 20px;
}

.main-content p {
  font-size: 1rem;
  color: #555;
  line-height: 1.6;
  margin-bottom: 40px;
}

.services-axes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.axe {
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  width: 250px; /* Taille réduite */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.axe:hover {
  transform: translateY(-5px);
}

.iconaxe {
  font-size: 1.5rem; /* Taille réduite */
  color: #32bde8; /* Couleur des icônes */
  margin-bottom: 10px;
}

.axe h2 {
  font-size: 1rem; /* Taille réduite */
  margin-bottom: 10px;
  color: #333;
}

.axe p {
  font-size: 0.8rem; /* Taille réduite */
  color: #555;
  line-height: 1.4;
}