/* BoiteAIdee.css */

/* Container for the entire component */
.boite-idee-container {
    font-family: Arial, sans-serif;
    background-color: #f4f7f6;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
}

/* Title for the form */
.boite-idee-container h2 {
    font-size: 24px;
    color: #2c3e50;
    margin-bottom: 20px;
}

/* Confirmation message styling */
.confirmation-message {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #32bde8;
    color: white;
    border-radius: 4px;
    text-align: center;
}

/* Form styling */
.boite-idee-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 30px; /* Ajout d'un padding global pour plus d'air */

}

/* Grouping inputs into two columns */
.input-group {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.input-group input,
.input-group textarea,
.input-group select {
    width: calc(50% - 7.5px); /* Two columns, with gap in between */
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border 0.3s ease;
}

.input-group input:focus,
.input-group textarea:focus,
.input-group select:focus {
    border-color: #32bde8;
    outline: none;
}

/* Submit button */
.boite-idee-form .bouttonidea {
    width: 20%;
    height: 40px;
    background-color: #32bde8;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.boite-idee-form .bouttonidea:hover {
    background-color: #2c3e50;
}

.boite-idee-form .bouttonidea:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

/* Style pour la bannière */
.banniere {
    background-color: #2c3e50;
    width: 100%;
    height: 200px;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banniere h1 {
    font-size: 24px;
    font-weight: bold;
}